body{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
    color: #00B7FF;
}
button{
    height: 3em;
    width: 13em;
}
#controllerR,#controllerD{
    padding: 1em; 
    width: 28em;
    float: left;
}
#controllerR{
    margin-left: 6em;
}
#valori{
    width: 28em;
    height: 21em;
    margin-left: 6em;
    float: left;
}
#front,#back,#up,#down{
    margin-left: 11em;
}
#left,#rSx,#right,#rDx{
    margin-left: 6em;
}
#decolla{
    margin-left: 1em;
}
#emerg{
    margin-left: 6em;
}
canvas{
    border-radius: 10px 10px 10px 10px ;
}
#secondo{
    clear: left;
}
#tasti{
    float: left;
}
#droneStream{
    float: left;
    margin-left: 6em;
}
#ANIM,#LED{
    display: none;
    position: absolute;
    margin-left: 14em;
    float: left;
}
#ANIM{
    background-color: dodgerblue;
}
#LED{
    background-color: darkgrey;
}